In [1]:
import pandas as pd

In [3]:
import pickle

df_train = pickle.load(open("train_pickle.pkl", "rb"))

In [6]:
df_test = pd.read_csv("test.csv")

In [12]:
df_test.memory_usage(index=True).sum()/ 1024**2

106.07279968261719

In [40]:
df_items = pd.read_csv("items.csv")
print(df_items.shape)
print(df_items.head())
# print(df_items.groupby("perishable").count())
# print(df_items.groupby("family").count())
# print(df_items.groupby("class").count())

(4100, 4)
   item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1

In [14]:
df_stores = pd.read_csv("stores.csv")

In [46]:
df_train.loc[(df_train["item_nbr"] == 96995) & (df_train["store_nbr"] == 44)]

           store_nbr  item_nbr  unit_sales  onpromotion  Year  Month  Day
196657            44     96995         1.0            0  2013      1    6
236538            44     96995         1.0            0  2013      1    7
275800            44     96995         1.0            0  2013      1    8
314674            44     96995         1.0            0  2013      1    9
353302            44     96995         1.0            0  2013      1   10
392205            44     96995         2.0            0  2013      1   11
433910            44     96995         2.0            0  2013      1   12
475969            44     96995         2.0            0  2013      1   13
674451            44     96995         1.0            0  2013      1   18
759792            44     96995         4.0            0  2013      1   20
840077            44     96995         1.0            0  2013      1   22
879279            44     96995         3.0            0  2013      1   23
918133            44     96995         2.0            0  2013      1   24
957628            44     96995         1.0            0  2013      1   25
1042553           44     96995         4.0            0  2013      1   27
1083042           44     96995         6.0            0  2013      1   28
1122570           44     96995         2.0            0  2013      1   29
1162245           44     96995         1.0            0  2013      1   30
1202328           44     96995         2.0            0  2013      1   31
1244180           44     96995         3.0            0  2013      2    1
1288955           44     96995         1.0            0  2013      2    2
1374629           44     96995         2.0            0  2013      2    4
1456777           44     96995         1.0            0  2013      2    6
1497390           44     96995         1.0            0  2013      2    7
1582293           44     96995         2.0            0  2013      2    9
1700641           44     96995         1.0            0  2013      2   12
1782740           44     96995         1.0            0  2013      2   14
1991277           44     96995         1.0            0  2013      2   19
2112870           44     96995         2.0            0  2013      2   22
2155968           44     96995         3.0            0  2013      2   23
...              ...       ...         ...          ...   ...    ...  ...
121601717         44     96995         1.0            0  2017      7    9
121911792         44     96995         1.0            0  2017      7   12
122010646         44     96995         1.0            0  2017      7   13
122111165         44     96995         1.0            0  2017      7   14
122220566         44     96995         4.0            0  2017      7   15
122332156         44     96995         3.0            0  2017      7   16
122540887         44     96995         1.0            0  2017      7   18
122742150         44     96995         1.0            0  2017      7   20
123168529         44     96995         3.0            0  2017      7   24
123270849         44     96995         2.0            0  2017      7   25
123370476         44     96995         1.0            0  2017      7   26
123468670         44     96995         2.0            0  2017      7   27
123570097         44     96995         1.0            0  2017      7   28
123679919         44     96995         2.0            0  2017      7   29
123791208         44     96995         1.0            0  2017      7   30
123899344         44     96995         4.0            0  2017      7   31
124008366         44     96995         2.0            0  2017      8    1
124115692         44     96995         3.0            0  2017      8    2
124219044         44     96995         3.0            0  2017      8    3
124322451         44     96995         1.0            0  2017      8    4
124431985         44     96995         3.0            0  2017      8    5
124542677         44     96995         2.0            0  2017      8    6
124648526         44     96995         2.0            0  2017      8    7
124851075         44     96995         1.0            0  2017      8    9
124950238         44     96995         1.0            0  2017      8   10
125052917         44     96995         2.0            0  2017      8   11
125158258         44     96995         3.0            0  2017      8   12
125263903         44     96995         1.0            0  2017      8   13
125368253         44     96995         2.0            0  2017      8   14
125471185         44     96995         2.0            0  2017      8   15

[321 rows x 7 columns]

In [16]:
# There are 54 stores - not that many, perhaps one-hot able? or simply handle as categorical
df_stores.shape

(54, 5)

In [41]:
import pandas as pd;pd.read_csv("test.csv", usecols=[0,2,3] ).set_index( ['item_nbr','store_nbr'] ).join( pd.read_csv('train.csv', usecols=[0,2,3,4], converters={'unit_sales':lambda u: float(u) if float(u)>0 else 0}, skiprows=range(1,124035460) ).groupby( ['item_nbr','store_nbr'] )['unit_sales'].median().to_frame('unit_sales'), how='left').fillna(0).to_csv('median.csv', float_format='%.2f', index=None)